/* ============ Estilos generales ============*/
@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

:root {
    --color-titulos: #32CD32;
    --color-textos: #74C365;
    --color-fondo: #0d0d0dee;
    --color-post-fondo: #2a2a2a;

    /* ============ Calalo si no te gusta como queda eliminalo lol ============*/
    --color-fondo2: #0d0d0d8a;
    --matrix-green: #00ff41;
    --dark-bg: #030a04;
    --border-glow: 0 0 10px rgba(0, 255, 65, 0.5);
    --hover-bg: rgba(0, 255, 65, 0.1);
    --sidebar-width: 250px;

}


body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--color-fondo);
}

#contenidoPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* Alinea los posts al centro */
    width: 100%;
    min-height: 100vh;
    padding-top: 50px;
    font-size: 20px;
    color: var(--color-titulos);
    font-family: 'VT323', monospace;
    margin-left: var(--sidebar-width);
    transition: margin-left 0.2s ease;
    padding: 20px;
}

#contenidoPrincipal.expanded {
    margin-left: 0;
}

.title {
    font-size: 60px;
    /* Un poco más grande para que resalte */
    margin: 0;
    color: var(--color-textos);
    text-shadow: 0 0 15px var(--color-titulos);
    transition: all 0.5s;
}

.subtitle {
    margin-bottom: 40px;
    text-align: center;
}

/* ============ Estilos de la caja post ============*/

#feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.post-card {
    background-color: var(--color-post-fondo);
    border: 1px solid var(--color-titulos);
    border-radius: 8px;
    width: 90%;
    max-width: 600px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);

}

.post-author {
    font-size: 14px;
    color: var(--color-textos);
    opacity: 0.7;
}

.post-title {
    font-size: 28px;
    margin: 10px 0;
    color: white;
}

.post-body p {
    font-family: 'Segoe UI', sans-serif;
    color: rgba(255, 255, 255, 0.825);
    font-size: 16px;
    line-height: 1.5;
}

.post-footer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
}

.vote-btn {
    background: transparent;
    border: 1px solid var(--color-titulos);
    color: var(--color-titulos);
    cursor: pointer;
    padding: 2px 8px;
    border-radius: 4px;
    transition: 0.3s;
}

.vote-btn:hover {
    background: var(--color-titulos);
    color: var(--color-fondo);
}

.vote-count {
    font-weight: bold;
}

/* ============ Estilos del menu lateral ============*/

.sidebar {
    width: 250px;
    height: 100vh;
    border-right: 2px solid var(--matrix-green);
    background-color: var(--color-fondo2);
    display: flex;
    flex-direction: column;
    position: fixed;
    padding: 20px;
    transition: transform 0.2s ease-in-out;
    left: 0;
    top: 0;
}

.sidebar.hidden {
    transform: translateX(-100%);
}

.sidebarButton {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 1001;
    cursor: pointer;
    border-radius: 10px;
    background-color: var(--color-fondo2);
    padding: 10px;
    border: 1px solid var(--color-titulos);
}

.sidebarButton:hover {
    color: var(--color-fondo);
    box-shadow: var(--border-glow);
}

.sidebarButton img {
    width: 20px;
    filter: drop-shadow(0 0 5px var(--color-titulos));
}

.sidebar-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sidebar-header img {
    width: 100px;
}

.sidebar-item {
    display: flex;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
    cursor: pointer;
    transition: all 0.5s ease;
    border-radius: 5px;
    border: 1px solid rgb(184, 255, 108);
}

.sidebar-item img {
    width: 20px;
}

.sidebar-item:hover {
    background: var(--hover-bg);
    color: var(--color-titulos);
    transform: translateX(5px);
    box-shadow: var(--border-glow);
    border: 1px solid var(--color-titulos);
}

.sidebar img {
    margin-right: 10px;
    filter: drop-shadow(0 0 5px var(--color-titulos));
}

.sidebar-item a {
    text-decoration: none;
    color: white;
    font-family: 'monospace', monospace;
    font-size: 1.2rem;
}