@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Plus+Jakarta+Sans:wght@400;500;600;700&display=swap');



:root {
    --dark-bg: #050505;
    --card-bg: #111111;
    --accent-red: #ff0040;
    --text-main: #ffffff;
    --text-dim: #6e767d;
    --border-color: #222;
    --accent-red-button: #ff00401a;
    --accent-red-hover: #ff00409c;
}

body {
    background-color: var(--dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.log_in_container {
    background-color: var(--dark-bg);
    border: 2px solid var(--accent-red-hover);
    padding: 40px;
    border-radius: 10px;
    width: 400px;
    text-align: left;
    box-shadow: 0 0 8px var(--accent-red-hover);
}

h1 {
    font-family: 'Funnel Sans', monospace;
    margin-block: 5px;
    text-shadow: 0 0 8px var(--accent-red-hover);
    color: var(--accent-red);
    font-size: 3em;
}

.subtitulo_lol {
    font-family: 'Funnel Sans', monospace;
    margin-block: 10px 20px;
    text-shadow: 0 0 8px var(--text-dim);
    color: white;
    font-size: 1.5rem;
}

.user {
    margin-bottom: 20px;
}

label {
    display: block;
    font-family: 'Funnel Sans', monospace;
    color: rgba(255, 255, 255, 0.937);
    font-size: 0.8rem;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    background: var(--card-bg);
    border: 1px solid var(--accent-red-hover);
    border-radius: 5px;
    color: white;
    outline: none;
    box-sizing: border-box;
    box-shadow: var(--accent-red);
}

input::placeholder {
    color: var(--text-dim);
}

.password {
    position: relative;
}

.show_password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: var(--accent-red);
    filter: drop-shadow(0 0 5px var(--accent-red));
}

.log_in_button {
    width: 100%;
    padding: 15px;
    background-color: var(--accent-red-button);
    border: none;
    border-radius: 5px;
    color: var(--accent-red);
    font-family: 'Funnel Sans', monospace;
    font-weight: bold;
    font-size: 1.5rem;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}

.log_in_button:hover {
    background-color: var(--accent-red);
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

footer {
    margin-top: 30px;
    font-family: 'Funnel Sans', monospace;
    color: var(--text-dim);
    font-size: 0.75rem;
    text-align: center;
}

.gender_select {
    width: 100%;
    padding: 12px;
    font-family: 'Funnel Sans', monospace;
    background: var(--card-bg);
    border: 1px solid var(--accent-red-hover);
    border-radius: 5px;
    color: white;
    outline: none;
    appearance: none;
    cursor: pointer;
    box-sizing: border-box;
}

.gender_select option {
    background-color: var(--card-bg);
    border: 1px solid var(--accent-red-hover);
    color: white;
}

.gender_select:focus {
    border-color: var(--accent-red-hover);
    box-shadow: var(--accent-red-hover);
}

.footer_p {
    margin-top: 15px;
    font-family: 'Funnel Sans', monospace;
    color: var(--text-dim);
    font-size: 0.75rem;
    text-align: center;
}